.DS_Store
MathNews/MathNews.xcodeproj/project.xcworkspace/xcuserdata/charliewatson.xcuserdatad/
MathNews/DerivedData/
MathNews/MathNews.xcodeproj/xcuserdata/charliewatson.xcuserdatad/
MathNews/MathNews.xcworkspace/
