/MathNews/Pods
/MathNews/Podfile
/MathNews/Podfile.lock
/MathNews/.DS_Store
.DS_Store
MathNews/MathNews.xcodeproj/project.xcworkspace/xcuserdata/charliewatson.xcuserdatad/
MathNews/DerivedData/
MathNews/MathNews.xcodeproj/xcuserdata/charliewatson.xcuserdatad/
MathNews/MathNews.xcworkspace/
